<div class="row">
  <div class="large-12 columns" style="text-align:center;">
    <h1>Ancient Witties</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div id="quote-paragraph">
      <p id="quote" data-quote-id></p>
      <%= link_to "", :id => "tweet" do %>
        <span data-tooltip title="Click to tweet this ancient witty!
          #ancientwitties">
          <%= image_tag("twitter-icon.png") %>
        </span>
      <% end %>
      <p id="author" data-author-id></p>
      <p id="intro">Craving an ancient anecdote? Click and be inspired!</p>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="large-12 columns">
      <div id="author-description">
        <h2 id="author-name"></h2>
        <p id="wiki"></p>
        <%= link_to "", "",:data => { :author => "wiki" } %>
      </div>

      <%= link_to "Oldie But Goodie", "javascript:void(0);", :id => "rando-quote-button", :class => "button expand radius"%>
    </div>
  </div>
</footer>