<div class="row">
  <div class="large-9 columns" style="text-align:center;">
    <h1>Ancient Witties</h1>
  </div>
</div>

<div class="row">
  <div class="large-9 columns">
    <div id="quote-paragraph">
      <p id="quote"></p>
      <p id="author"></p>
      <p id="intro">Craving an ancient anecdote? Click and be inspired!</p>
      <%= link_to "", :id => "tweet" do %>
        <%= image_tag("twitter-icon.png") %>
      <% end %>
    </div>
  </div>

  <aside class="large-3 columns">
    <h3 id="author-name"></h3>
    <p id="wiki"></p>
    <%= link_to "", :data => { :author => "wiki" } %>
  </aisde>
</div>

<%= link_to "Oldie But Goody", "javascript:void(0);", :id => "rando-quote", :class => "button expand radius"%>
